<nav>
    <% if (user) { %>
    <a href="/users/<%= user.username %>/transactions">Profile</a>
    <a href="/about">Learn About Kakeibo</a>
    <a href="/contact">Get in Touch</a>
    <a href="/users/<%= user.username %>/transactions/new">Add+</a>
    <a href="/auth/sign-out">Log Out</a>
    <% } else { %>
    <a href="/">Home</a>
    <a href="/about">Learn About Kakeibo</a>
    <a href="/contact">Get in Touch</a>
    <% } %>
</nav>
