<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firetracker</title>
    <%- include('partials/nav') %>
</head>
<body>

    <h2>Contact Our Team</h2>

    <p>Have any general questions about our app? Issues with your account? Curious about a feature that you would like to see in the future? Or even want to send us a thank you message? Don’t hesitate to reach out to our development team.</p>

    <p><a href="mailto:info@firetracker.com">info@firetracker.com</a></p>

</body>

</html>