<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact</title>
        <%- include('partials/nav') %>
    </head>
    <body class="contact-container">
        <div>
            <div class="contact-us-box">
                 <h2>Contact Our Team</h2>

            <p>
                Have questions about Firetracker, need help with your account,
                or have a feature suggestion? Or maybe you just want to say
                thanks? Our team would love to hear from you! Reach out anytime.
            </p>

            <p>
                <a href="mailto:info@firetracker.com">info@firetracker.com</a>
            </p>
            </div>
           
        </div>
    </body>
</html>
