<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Firetracker</title>
    </head>
    <body class="index-body">
        <%- include('partials/nav') %>
        <div class="index-container">
            <img src="/stylesheets/assets/firetracker-logo.png?v=1" alt="money symbol inside of fire">

            <h1 class="seeContainer index-h1">Firetracker: The World's #1 Kakeibo-Style Tracker</h1>
            <p class="seeContainer index-p">
                New here? Click the sign-up button below to start a simple,
                effective journey toward mastering your expenses with ease.
            </p>
            <p class="index-p">
                <a href="/auth/sign-up">Sign Up</a> 
                <a href="/auth/sign-in">Log In</a>
            </p>
        </div>
    </body>
</html>

<!-- class="seeContainer" -->