<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firetracker</title>
    <%- include('partials/nav') %>
</head>
<body>
    <h1>Firetracker: The World's #1 Kakeibo-Style Tracker</h1>
    <p>Already have an account with us? Come on in! If not, click the sign-up button below to start your easy journey toward tracking your expenses.</p>
    <button>Log In</button>
    <button>Get Started</button>
</body>

</html>