@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {
    background-color: #fff5e1 !important;
    margin: 0;
    padding: 0;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
    background-color: #1c1c1c;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
    z-index: 1000;

    a {
        color: #fff5e1;
        text-decoration: none;
        font-size: medium;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: auto;
    min-height: 100vh;
    box-sizing: border-box;
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;

    background-color: #fff5e1;

    img {
        height: 15rem;
        padding-bottom: 5%;
    }

    h1 {
        text-transform: uppercase;
    }

    p {
        display: flex;
        gap: 30px;
    }

    a {
        background-color: #ff7f50;
        width: 100px;
        padding: 10px;
        border-radius: 30px;
        border: #a9a9a9;
        color: white;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
    }

    a:hover {
        background-color: white;
        color: #ff7f50;
    }
}

.contact-container {
    margin: 10%;
    display: flex;
    flex-direction: column;
    background-color: #fff5e1;

    .contact-us-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 100%;
        border-radius: 20px;
        background-color: #ff7f50;
        padding: 2rem;
        max-width: 750px;

        h2 {
            text-transform: uppercase;
            text-align: left;
            font-size: 3rem;
            color: #ff4500;
            margin: 0;
        }

        p {
            font-size: 1.5rem;
            color: #fff5e1;
            text-align: left;
        }

        p:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                padding: 1rem 1.5rem 1rem 1.5rem;
                border: none;
                border-radius: 30px;
                font-size: 1rem;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                background-color: #1c1c1c;
                color: #fff5e1;
            }
        }
    }
}

#about-container {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #fff5e1;
    box-sizing: border-box;
    margin: 10%;

    h2 {
        font-size: xx-large;
        text-transform: uppercase;
    }
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    margin: 10%;

    .sign-in-form {
        padding: 1rem 1.5em;
        border-radius: 30px;
        background-color: #ff7f50;
        text-align: center;

        h1 {
            color: white;
            margin-bottom: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
                text-transform: uppercase;
                font-weight: bold;
                color: #7c2100;
                padding: 0.5rem;
                padding-top: 1rem;
            }

            .top-user {
                padding-top: 0;
            }

            input {
                border-radius: 30px;
                border: none;
                height: 2rem;
                opacity: 0.5;
                padding-left: 1rem;
                font-size: 1rem;
            }

            input:focus {
                opacity: 0.9;
                border: none;
            }

            button {
                padding: 1rem;
                border: none;
                border-radius: 30px;
                text-transform: uppercase;
                font-weight: bold;
                background-color: #1c1c1c;
                color: #fff5e1;
                margin-top: 1rem;
            }

            button:hover {
                background-color: white;
                color: #ff7f50;
            }
        }
    }
}

.sign-up-container {
    background-color: #ff7f50;
    display: flex;
    flex-direction: column;
    margin: 10%;
    padding: 1rem 1.5rem;
    border-radius: 30px;

    h1 {
        color: white;
        margin-bottom: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .sign-up-form {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        background-color: #ff7f50;
        text-align: center;

        label {
            text-align: left;
            text-transform: uppercase;
            font-weight: bold;
            color: #7c2100;
            padding: 0.5rem;
            padding-top: 1rem;
        }

        input {
            border-radius: 30px;
            border: none;
            height: 2rem;
            opacity: 0.5;
            font-size: 1rem;
            padding-left: 1rem;
        }

        input:focus {
            opacity: 0.9;
            border: none;
            font-size: 1rem;
        }

        button {
            padding: 1rem;
            border: none;
            border-radius: 30px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #1c1c1c;
            color: #fff5e1;
            margin-top: 1rem;
        }

        button:hover {
            background-color: white;
            color: #ff7f50;
        }
    }
}

.profile-container {
    margin-top: 40px;
    flex-direction: row;
    align-items: flex-start;

    .hello-profile {
        max-width: 300px;
        height: 100%;

        h1 {
            text-align: center;
        }

        .financial-overview {
            border: 1px solid lightgray;
            background-color: white;
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 8px;
            max-width: 300px;

            p {
                margin: 0;
                padding: 0.25rem;
            }

            p:nth-child(1) {
                font-weight: bold;
                font-size: 1rem;
            }

            p:nth-child(2) {
                font-size: 0.7rem;
                color: #9e9e9e;
                padding-bottom: 1rem;
            }

            p:nth-child(3) {
                font-size: 2rem;
                color: #7c2100;
                font-weight: 300;
                text-align: right;
                min-width: 200px;
                font-family: 'Roboto Mono', monospace;
            }
        }
    }

    .because-i-need-another-one {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        h1 {
            text-transform: uppercase;
        }
    }

    .all-transactions {
        width: 90%;
        height: 100%;
        padding: 0.5rem;
        background-color: white;
        border-radius: 8px;
        outline: none;
        border: 1px solid lightgray;

        a {
            text-decoration: none;
        }

        a:hover .description-and-amount {
            background-color: #ff7f50;

            .description {
                color: white;
            }

            .amount {
                color: white;
                font-weight: bold;
                font-family: 'Roboto Mono', monospace;
            }
        }

        a:hover .type-category-date {
            color: #7c2100;
        }

        .description-and-amount {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0.5rem;
            border-radius: 2px;
            color: black;
            height: 2rem;
            background-color: #d4d4d4;

            .description {
                text-align: left;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 300;
            }

            .amount {
                text-align: left;
                font-size: 1.5rem;
                color: #7c2100;
                font-weight: 300;
                font-family: 'Roboto Mono', monospace;
            }
        }

        .type-category-date {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2rem;
            color: #1c1c1c;

            .type-category {
                display: flex;
                width: 67%;
                gap: 0.5rem;
                font-weight: 500;
                padding: 0.5rem;
                text-transform: uppercase;
                font-weight: bold;
            }

            .transaction-date {
                display: flex;
                width: 33%;
                flex-direction: row;
                justify-content: flex-end;
                font-size: 0.7rem;
                color: #9e9e9e;
            }
        }
    }
}

.show-container {
    display: flex;
    padding: 10%;
    justify-content: flex-start;
    margin-top: 40px;

    .show-form {
        display: flex;
        flex-direction: column;
        background-color: #ff7f50;
        border-radius: 8px;
        padding: 1rem;
        width: 50%;

        h1 {
            text-transform: uppercase;
            text-align: center;
            color: white;
        }

        .i-hate-css {
            background-color: #ffb89f;
            border: 1px #ffb89f solid;
            border-radius: 8px;
        }

        .top-view {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #7c2100;
            height: 1.5rem;
            padding: 0.5rem 0.5rem 0.05rem 0.5rem;
            align-items: center;
            color: #7c2100;
            font-size: 0.75rem;

            p:nth-child(2) {
                text-transform: uppercase;
                font-family: 'Roboto Mono', monospace;
            }
        }

        h3 {
            font-family: 'Roboto Mono', monospace;
            margin: 0;
            font-size: 3rem;
            font-weight: 400;
            margin: 0.5rem 0 0.5rem 0;
            text-align: left;
            color: #7c2100;
        }

        .type-category-view {
            margin: 1rem 0 0 0;
            display: flex;
            gap: 0.5rem;
            text-transform: uppercase;
            background-color: #c33400;
            color: white;
            padding-left: 0.5rem;
            font-weight: 500;
            height: 2rem;
            align-items: center;
            border-radius: 8px 8px 0 0;
        }

        .notes-view {
            border: 1px white solid;
            background-color: white;
            padding-left: 0.5rem;
            border-radius: 0 0 8px 8px;
            height: 4rem;
            text-align: left;
        }
    }

    .edit-link {
        border: 1px green solid;
        display: flex;
        justify-content: center;
        padding: 1rem;
        border: none;
        border-radius: 30px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #1c1c1c;
        color: #fff5e1;
        margin-top: 1rem;
        text-decoration: none;
    }

    .edit-link:hover {
        background-color: white;
        color: #ff7f50;
        text-decoration: none;
    }

    .delete-button {
        margin: 1rem 0 1rem 0;
        padding: 1rem;
        border: none;
        border-radius: 30px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #1c1c1c;
        color: #fff5e1;
        width: 100%;
    }

    .delete-button:hover {
        background-color: white;
        color: #ff7f50;
    }
}

.new-container {
    background-color: #ff7f50;
    display: flex;
    flex-direction: column;
    margin: 10%;
    padding: 1rem 1.5rem;
    border-radius: 30px;

    h1 {
        color: white;
        margin-bottom: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .new-form {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        background-color: #ff7f50;
        text-align: center;
        padding: 2rem;

        label {
            text-align: left;
            text-transform: uppercase;
            font-weight: bold;
            color: #7c2100;
            padding: 0.5rem;
            padding-top: 1rem;
        }

        select {
            text-align: left;
            text-transform: uppercase;
            font-weight: bold;
            color: #7c2100;
            padding: 0.5rem 1rem 0.5rem 1rem;
            opacity: 0.5;
            border-radius: 30px;
        }

        textarea {
            text-align: left;
            text-transform: uppercase;
            font-weight: bold;
            color: #7c2100;
            padding: 0.5rem 1rem 0.5rem 1rem;
            opacity: 0.5;
            border-radius: 15px;
            align-items: center;
            justify-content: center;
            height: 4rem;
        }

        input {
            border-radius: 30px;
            border: none;
            height: 2rem;
            opacity: 0.5;
            font-size: 1rem;
            padding: 0 1rem 0 1rem;
        }

        input:focus {
            opacity: 0.9;
            border: none;
            font-size: 1rem;
        }

        button {
            display: flex;
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: 30px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #1c1c1c;
            color: #fff5e1;
            margin-top: 1rem;
            justify-content: center;
        }

        button:hover {
            background-color: white;
            color: #ff7f50;
        }
    }
}

.edit-container {
    background-color: #ff7f50;
    display: flex;
    flex-direction: column;
    margin: 10%;
    border-radius: 30px;
    border: 1px green solid;

    h1 {
        color: white;
        margin-bottom: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 1px green solid;
    }

    .edit-form {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        background-color: #ff7f50;
        text-align: center;
        padding: 2rem;
        border: 1px green solid;

        label {
            text-align: left;
            text-transform: uppercase;
            font-weight: bold;
            color: #7c2100;
            padding: 0.5rem;
            padding-top: 1rem;
        }

        select {
            text-align: left;
            text-transform: uppercase;
            font-weight: bold;
            color: #7c2100;
            padding: 0.5rem 1rem 0.5rem 1rem;
            opacity: 0.5;
            border-radius: 30px;
        }

        textarea {
            text-align: left;
            text-transform: uppercase;
            font-weight: bold;
            color: #7c2100;
            padding: 0.5rem 1rem 0.5rem 1rem;
            opacity: 0.5;
            border-radius: 15px;
            align-items: center;
            justify-content: center;
            height: 4rem;
        }

        input {
            border-radius: 30px;
            border: none;
            height: 2rem;
            opacity: 0.5;
            font-size: 1rem;
            padding: 0 1rem 0 1rem;
        }

        input:focus {
            opacity: 0.9;
            border: none;
            font-size: 1rem;
        }

        button {
            display: flex;
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: 30px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #1c1c1c;
            color: #fff5e1;
            margin-top: 1rem;
            justify-content: center;
        }

        button:hover {
            background-color: white;
            color: #ff7f50;
        }
    }
}
